<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
        <server>
            <id>cloud-retail-public-releases</id>
            <username>5f6c4205e1cf498f37f917df</username>
            <password>SANi5Hmuib(s</password>
        </server>
        <server>
            <id>cloud-retail-public-snapshots</id>
            <username>5f6c4205e1cf498f37f917df</username>
            <password>SANi5Hmuib(s</password>
        </server>
        <server>
            <id>cloud-retail-releases</id>
            <username>5f6c4205e1cf498f37f917df</username>
            <password>9o09RNdJ8w4n</password>
        </server>
        <server>
            <id>cloud-retail-snapshots</id>
            <username>5f6c4205e1cf498f37f917df</username>
            <password>9o09RNdJ8w4n</password>
        </server>
        <server>
            <id>rdc-releases</id>
            <username>jR31yw</username>
            <password>hDi4dgfKu0</password>
        </server>
        <server>
            <id>rdc-snapshots</id>
            <username>jR31yw</username>
            <password>hDi4dgfKu0</password>
        </server>
        <server>
            <id>package-snapshots</id>
            <username>5f0e730f7ec18baeb8225216</username>
            <password>_FMyc8FiGPg0</password>
        </server>
        <server>
            <id>package-releases</id>
            <username>5f0e730f7ec18baeb8225216</username>
            <password>_FMyc8FiGPg0</password>
        </server>
        <server>
            <id>fh-codeup-snapshots</id>
            <username>FDOFoe</username>
            <password>n4U2blLtIQ</password>
        </server>
        <server>
            <id>fh-codeup-releases</id>
            <username>FDOFoe</username>
            <password>n4U2blLtIQ</password>
        </server>
    </servers>

    <mirrors>
        <mirror>
            <id>mirror</id>
            <mirrorOf>*,!rdc-releases,!cloud-retail-releases,!cloud-retail-snapshots,!cloud-retail-public-releases,!cloud-retail-public-snapshots,!rdc-snapshots,!edas-oss-central,!fh-codeup-releases,!fh-codeup-snapshots,!package-snapshots,!package-releases</mirrorOf>
            <name>mirror</name>
            <url>https://maven.aliyun.com/nexus/content/groups/public</url>
        </mirror>
    </mirrors>

    <profiles>
        <profile>
            <id>cloud-retail</id>
            <repositories>
                <repository>
                    <id>cloud-retail-releases</id>
                    <url>https://packages.aliyun.com/maven/repository/2037694-release-NauJ5L/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>cloud-retail-snapshots</id>
                    <url>https://packages.aliyun.com/maven/repository/2037694-snapshot-pUciqp/</url>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>cloud-retail-releases</id>
                    <url>https://packages.aliyun.com/maven/repository/2037694-release-NauJ5L/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </pluginRepository>
                <pluginRepository>
                    <id>cloud-retail-snapshots</id>
                    <url>https://packages.aliyun.com/maven/repository/2037694-snapshot-pUciqp/</url>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>

        <profile>
            <id>cloud-retail-public</id>
            <repositories>
                <repository>
                    <id>cloud-retail-public-releases</id>
                    <url>https://packages.aliyun.com/maven/repository/2038835-release-e4oJxm/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>cloud-retail-public-snapshots</id>
                    <url>https://packages.aliyun.com/maven/repository/2038835-snapshot-SgEDTp/</url>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>cloud-retail-public-releases</id>
                    <url>https://packages.aliyun.com/maven/repository/2038835-release-e4oJxm/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </pluginRepository>
                <pluginRepository>
                    <id>cloud-retail-public-snapshots</id>
                    <url>https://packages.aliyun.com/maven/repository/2038835-snapshot-SgEDTp/</url>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>

        <profile>
            <id>edas.oss.repo</id>
            <repositories>
                <repository>
                    <id>edas-oss-central</id>
                    <url>http://edas-public.oss-cn-hangzhou.aliyuncs.com/repository</url>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>edas-oss-plugin-central</id>
                    <url>http://edas-public.oss-cn-hangzhou.aliyuncs.com/repository</url>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                </pluginRepository>
            </pluginRepositories>
        </profile>
        <profile>
            <id>rdc-private-repo</id>
            <repositories>
                <repository>
                    <id>rdc-releases</id>
                    <url>https://repo.rdc.aliyun.com/repository/115682-release-y2XxaV/</url>
                </repository>
                <repository>
                    <id>rdc-snapshots</id>
                    <url>https://repo.rdc.aliyun.com/repository/115682-snapshot-RlXYIq/</url>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>rdc-releases</id>
                    <url>https://repo.rdc.aliyun.com/repository/115682-release-y2XxaV/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </pluginRepository>
                <pluginRepository>
                    <id>rdc-snapshots</id>
                    <url>https://repo.rdc.aliyun.com/repository/115682-snapshot-RlXYIq/</url>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
        <profile>
            <id>cz-isv-repo</id>
            <repositories>
                <repository>
                    <id>package-releases</id>
                    <url>https://packages.aliyun.com/maven/repository/2011989-release-gG7Cwa/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>package-snapshots</id>
                    <url>https://packages.aliyun.com/maven/repository/2011989-snapshot-OnnvtG/</url>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>package-releases</id>
                    <url>https://packages.aliyun.com/maven/repository/2011989-release-gG7Cwa/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </pluginRepository>
                <pluginRepository>
                    <id>package-snapshots</id>
                    <url>https://packages.aliyun.com/maven/repository/2011989-snapshot-OnnvtG/</url>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
        <profile>
            <id>fh-codeup-repo</id>
            <repositories>
                <repository>
                    <id>fh-codeup-releases</id>
                    <url>https://packages.aliyun.com/maven/repository/2008925-release-z2JXcw</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>fh-codeup-snapshots</id>
                    <url>https://packages.aliyun.com/maven/repository/2008925-snapshot-tZnPYN</url>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>fh-codeup-releases</id>
                    <url>https://packages.aliyun.com/maven/repository/2008925-release-z2JXcw</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </pluginRepository>
                <pluginRepository>
                    <id>fh-codeup-snapshots</id>
                    <url>https://packages.aliyun.com/maven/repository/2008925-snapshot-tZnPYN</url>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>

    <activeProfiles>
        <activeProfile>cloud-retail</activeProfile>
        <activeProfile>cloud-retail-public</activeProfile>
        <!--<activeProfile>aliyun</activeProfile>-->
        <activeProfile>edas.oss.repo</activeProfile>
        <activeProfile>rdc-private-repo</activeProfile>
        <activeProfile>cz-isv-repo</activeProfile>
        <activeProfile>fh-codeup-repo</activeProfile>
    </activeProfiles>
</settings>