<configuration>

    <property name="pattern" value="%date %relative %p [%t] %c{20} %X{traceId} %file %m%n"/>

    <appender name="STD_OUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>
    
    <root level="DEBUG">
        <appender-ref ref="STD_OUT"/>
    </root>

</configuration>